### Starter code for Project 3. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

BigQuery error in mk operation: Dataset 'datamaxxing:school_enrollments' already
exists.

#### 2. create and populate BQ tables:

In [3]:
import os

In [21]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access-2/school-enrollments/*"

file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ak.csv

Waiting on bqjob_r3d5130c01f5bbe90_0000019a239f867e_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ar.csv

Waiting on bqjob_r589ae33c160c9414_0000019a239fa42e_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ca.csv

Waiting on bqjob_r7b4ae0aceb02dc26_0000019a239fc17f_1 ... (8s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ct.csv

Waiting on bqjob_r7443d0b5fdd4df4_0000019a239ff0eb_1 ... (2s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access-2/school-enrollments/zf406jp4427_hi.csv

Waiting on bqjob_r335c04a09617c6d2_0000019a23a00970_1 ... (1s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access-2/school-enrollments/zf406jp4427_la.csv

Waiting on bqjob_r27366216e7e20ee2_0000019a23a01d7c_1 ... (2s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access-2/school-enrollments/zf406jp4427_md.csv

Waiting on bqjob_r76272007472a6c1c_0000019a23a03674_1 ... (1s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access-2/school-enrollments/zf406jp4427_mn.csv

Waiting on bqjob_r6f249c8ac1b89477_0000019a23a04f11_1 ... (3s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ms.csv

Waiting on bqjob_r35500c8c08e67691_0000019a23a06e23_1 ... (1s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nh.csv

Waiting on bqjob_r1817d449c18c77c1_0000019a23a0826d_1 ... (1s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nv.csv

Waiting on bqjob_r131271a43bbcc915_0000019a23a0969b_1 ... (1s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ok.csv

Waiting on bqjob_r3eba463c824b62a0_0000019a23a0aab2_1 ... (2s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_pa.csv

Waiting on bqjob_r5dbfca26c68c4001_0000019a23a0c37a_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access-2/school-enrollments/zf406jp4427_sc.csv

Waiting on bqjob_r17f6c9ab4a2b8992_0000019a23a0e18f_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access-2/school-enrollments/zf406jp4427_tx.csv

Waiting on bqjob_r13e3900ce9944524_0000019a23a0f9d1_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wa.csv

Waiting on bqjob_r5a4e3e875c89214e_0000019a23a11235_1 ... (3s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wy.csv

Waiting on bqjob_r3344c8397857756a_0000019a23a12f97_1 ... (1s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [22]:
!bq show --schema=true $dataset_id.tx

[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [23]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   2880
1     AKINS H S          grade_10  2021   2988
2     AKINS H S          grade_11  2020   2656
3     AKINS H S          grade_11  2021   2652
4     AKINS H S          grade_12  2020   2436
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    276
1735  ZILKER EL      kindergarten  2020    308
1736  ZILKER EL      kindergarten  2021    252
1737  ZILKER EL  pre_kindergarten  2020    120
1738  ZILKER EL  pre_kindergarten  2021     52

[1739 rows x 4 columns]

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [24]:
!bq --location=US mk --dataset "views"

BigQuery error in mk operation: Dataset 'datamaxxing:views' already exists.

In [25]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Executing query with job ID: 4594352e-4f61-4e23-868d-1f8163888c72
Query executing: 0.73s

ERROR:
 409 Already Exists: Table datamaxxing:views.austin_enrollments_by_school_grade_year; reason: duplicate, message: Already Exists: Table datamaxxing:views.austin_enrollments_by_school_grade_year

Location: US
Job ID: 4594352e-4f61-4e23-868d-1f8163888c72

In [26]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020   2880
1     AKINS H S          grade_10  2021   2988
2     AKINS H S          grade_11  2020   2656
3     AKINS H S          grade_11  2021   2652
4     AKINS H S          grade_12  2020   2436
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021    276
1735  ZILKER EL      kindergarten  2020    308
1736  ZILKER EL      kindergarten  2021    252
1737  ZILKER EL  pre_kindergarten  2020    120
1738  ZILKER EL  pre_kindergarten  2021     52

[1739 rows x 4 columns]

#### 4. Open Data Studio and create a chart from this view:
##### https://datastudio.google.com/

In [28]:
!bq mk --dataset $PROJECT_ID:new_views

Dataset 'datamaxxing:new_views' successfully created.

In [36]:
from google.cloud import bigquery
client = bigquery.Client()

queries = {
    "total_enrollment_by_school": """
        CREATE OR REPLACE VIEW `datamaxxing.new_views.total_enrollment_by_school` AS
        SELECT school,
               SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_enrollment
        FROM `datamaxxing.school_enrollments.tx`
        WHERE total != "" AND school != ""
        GROUP BY school
        ORDER BY total_enrollment DESC;
    """,
    "avg_enrollment_by_grade": """
        CREATE OR REPLACE VIEW `datamaxxing.new_views.avg_enrollment_by_grade` AS
        SELECT grade,
               ROUND(AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64))) AS avg_enrollment
        FROM `datamaxxing.school_enrollments.tx`
        WHERE total != "" AND grade != ""
        GROUP BY grade
        ORDER BY avg_enrollment DESC;
    """
}

for name, query in queries.items():
    client.query(query)
    print(f"✅ Created view: {name}")

✅ Created view: total_enrollment_by_school
✅ Created view: avg_enrollment_by_grade

In [35]:
from google.cloud import bigquery

dataset_ref = bigquery.DatasetReference("datamaxxing", "new_views")

for view in client.list_tables(dataset_ref):
    print(view.table_id)

#### Project 3 homework marker. Start homework from here.

In [ ]:
%%bigquery
-- Query 1: Finds total enrollment per school across all years. 

SELECT 
  school,
  SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_enrollment
FROM `school_enrollments.tx`
WHERE total != "" AND school != ""
GROUP BY school
ORDER BY total_enrollment DESC;

In [ ]:
%%bigquery
-- Query 2: Find the average enrollment for each grade level across all schools
SELECT 
  grade,
  ROUND(AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)), 2) AS avg_enrollment
FROM `school_enrollments.tx`
WHERE total != "" AND grade != ""
GROUP BY grade
ORDER BY avg_enrollment DESC;

In [ ]:
%%bigquery
-- Query 3: Find schools with average yearly enrollment greater than 500
SELECT 
  school,
  year,
  AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS avg_enrollment
FROM `school_enrollments.tx`
WHERE total != "" AND school != ""
GROUP BY school, year
HAVING AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) > 500
ORDER BY avg_enrollment DESC;

In [ ]:
%%bigquery
-- Query 4: Find schools with total enrollment below 400 in 2021
SELECT 
  school,
  SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_2021
FROM `school_enrollments.tx`
WHERE 
  year = 2021
  AND total != "" 
  AND school != ""
GROUP BY school
HAVING SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) < 400
ORDER BY total_2021;

In [ ]:
%%bigquery
-- Query 5: Compare total enrollment between 2020 and 2021 
SELECT
  '2020' AS year_label,
  SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_enrollment
FROM `school_enrollments.tx`
WHERE year = 2020 AND total != ""
UNION ALL
SELECT 
  '2021' AS year_label,
  SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_enrollment
FROM `school_enrollments.tx`
WHERE year = 2021 AND total != ""
ORDER BY year_label;

In [ ]:
%%bigquery
-- Query 6: Find grades with average enrollment above 100 students in any year
SELECT 
  year,
  grade,
  AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS avg_enrollment
FROM `school_enrollments.tx`
WHERE total != ""
GROUP BY year, grade
HAVING AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) > 100
ORDER BY year, avg_enrollment DESC;

In [ ]:
%%bigquery
-- Query 7: Top 5 schools with highest average enrollment in 2021
SELECT 
  school,
  ROUND(AVG(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)), 2) AS avg_enrollment_2021
FROM `school_enrollments.tx`
WHERE 
  year = 2021
  AND total != ""
  AND school != ""
GROUP BY school
ORDER BY avg_enrollment_2021 DESC
LIMIT 5;

In [ ]:
%%bigquery
-- Query 8: Combine elementary and high school enrollment summaries
SELECT 
  school,
  'Elementary' AS school_level,
  SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_enrollment
FROM `school_enrollments.tx`
WHERE 
  grade IN ('pre_kindergarten', 'kindergarten', 'grade_1', 'grade_2', 'grade_3', 'grade_4', 'grade_5')
  AND total != ""
GROUP BY school

UNION DISTINCT

SELECT 
  school,
  'High School' AS school_level,
  SUM(CAST(REPLACE(REPLACE(total, ",", ""), "<", "") AS INT64)) AS total_enrollment
FROM `school_enrollments.tx`
WHERE 
  (grade LIKE 'grade_1%' OR grade = 'grade_12')
  AND total != ""
GROUP BY school
ORDER BY total_enrollment DESC;